{
  "openapi": "3.0.3",
  "info": {
    "title": "OpenMail API",
    "description": "Email infrastructure API for AI agents. Create inboxes, send and receive email, and get real-time notifications via webhooks.",
    "version": "1.0.0",
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://api.openmail.sh"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/pods": {
      "get": {
        "summary": "List pods",
        "description": "List all pods for your account. The default pod is always returned first. Supports pagination.",
        "operationId": "listPods",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            },
            "description": "Max results to return"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of results to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "List of pods",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Pod"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create pod",
        "description": "Create a new pod (an isolated sub-account for one of your end users or tenants). Pass your own `clientId` to map the pod to a record in your system and address it later without storing the OpenMail ID.",
        "operationId": "createPod",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "clientId": {
                    "type": "string",
                    "nullable": true,
                    "maxLength": 255,
                    "description": "Your own stable identifier for this pod (e.g. your user/tenant ID). Must be unique within your account. Use it in place of the pod ID on any pod or inbox endpoint."
                  },
                  "name": {
                    "type": "string",
                    "nullable": true,
                    "maxLength": 255,
                    "description": "Human-readable label shown in the console."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Pod created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pod"
                }
              }
            }
          },
          "409": {
            "description": "A pod with the same `clientId` already exists in your account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/pods/{id}": {
      "get": {
        "summary": "Get pod",
        "description": "Retrieve a single pod by its OpenMail ID or your own `clientId`.",
        "operationId": "getPod",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pod ID or your own `clientId`"
          }
        ],
        "responses": {
          "200": {
            "description": "Pod details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pod"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update pod",
        "description": "Update a pod's `clientId` or `name`. Only the fields you include are changed.",
        "operationId": "updatePod",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pod ID or your own `clientId`"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "clientId": {
                    "type": "string",
                    "nullable": true,
                    "maxLength": 255,
                    "description": "Your own identifier for this pod. Set null to clear."
                  },
                  "name": {
                    "type": "string",
                    "nullable": true,
                    "maxLength": 255,
                    "description": "Human-readable label. Set null to clear."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pod updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pod"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "A pod with the same `clientId` already exists in your account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete pod",
        "description": "Permanently delete a pod. The pod must be empty (no inboxes or pod-scoped domains) and cannot be the default pod.",
        "operationId": "deletePod",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pod ID or your own `clientId`"
          }
        ],
        "responses": {
          "204": {
            "description": "Pod deleted"
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Pod still has inboxes (`pod_not_empty`), still owns pod-scoped domains (`pod_has_domains`), or is the default pod (`default_pod`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inboxes": {
      "get": {
        "summary": "List inboxes",
        "description": "List all inboxes for your account. Supports pagination.",
        "operationId": "listInboxes",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            },
            "description": "Max results to return"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of results to skip"
          },
          {
            "name": "podId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter to inboxes in a single pod. Accepts the pod ID or your own `clientId`. An unknown value returns an empty list."
          }
        ],
        "responses": {
          "200": {
            "description": "List of inboxes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Inbox"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create inbox",
        "description": "Create a new email inbox. Optionally set a sender display name.",
        "operationId": "createInbox",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "mailboxName": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 30,
                    "description": "Inbox local part (default: random)"
                  },
                  "displayName": {
                    "type": "string",
                    "maxLength": 200,
                    "description": "Sender display name shown in the From header"
                  },
                  "domain": {
                    "type": "string",
                    "description": "Domain for the inbox address. Defaults to your account domain (e.g. `openmail.sh`). Pass a verified custom domain you own to create the inbox on it (e.g. `agent-mail.example.com`). The domain must already be added and verified for your account; the account default never switches automatically."
                  },
                  "podId": {
                    "type": "string",
                    "description": "Pod to create the inbox in. Accepts the pod ID or your own `clientId`. Omit to place the inbox in your account's default pod."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Inbox created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Inbox"
                }
              }
            }
          },
          "400": {
            "description": "Invalid mailbox name, `domain` is not verified or not available in the selected pod, or `podId` does not match a pod in your account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Address already in use",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Plan inbox limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 inbox creations/day)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inboxes/{id}": {
      "get": {
        "summary": "Get inbox",
        "description": "Retrieve a single inbox by its ID, including its address, display name, and creation time.",
        "operationId": "getInbox",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Inbox details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Inbox"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update inbox",
        "description": "Update an inbox's settings, such as the sender display name shown in the From header.",
        "operationId": "updateInbox",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "displayName": {
                    "type": "string",
                    "nullable": true,
                    "maxLength": 200,
                    "description": "Sender display name. Set null to clear."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Inbox updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Inbox"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete inbox",
        "description": "Permanently delete an inbox and stop delivery to its address. This action cannot be undone.",
        "operationId": "deleteInbox",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Inbox deleted"
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inboxes/{id}/send": {
      "post": {
        "summary": "Send email",
        "description": "Send an email from an inbox. Requires Idempotency-Key header. Use threadId to reply to an existing thread. When replying on a thread where your inbox was CC'd (deliveryRole cc), the original sender is automatically CC'd.",
        "operationId": "sendEmail",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique key for idempotent sends (e.g. UUID)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "to",
                  "body"
                ],
                "properties": {
                  "to": {
                    "type": "string",
                    "format": "email"
                  },
                  "subject": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 998,
                    "description": "Required for new threads. Optional when threadId is set — the thread subject is used automatically (with Re: prefix)."
                  },
                  "body": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100000,
                    "description": "Email body. Plain text or HTML — HTML is auto-detected and rendered, with a plain-text fallback generated automatically."
                  },
                  "bodyHtml": {
                    "type": "string",
                    "maxLength": 500000,
                    "description": "Provide only when the plain-text and HTML versions must differ. Omit for normal sends — put HTML in `body` instead."
                  },
                  "threadId": {
                    "type": "string",
                    "description": "Thread ID for replies"
                  },
                  "includeQuote": {
                    "type": "boolean",
                    "description": "When replying with threadId, append a quoted copy of the previous message to the body. Defaults to true. Set false to send only your reply text."
                  },
                  "replyTo": {
                    "type": "string",
                    "format": "email",
                    "description": "Optional. Address that replies should be routed to (set as the `Reply-To` MIME header). Free plan: must be the address of an inbox you own in OpenMail. Developer plan or higher: any valid email address."
                  },
                  "cc": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "email"
                    },
                    "description": "Optional CC recipients."
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "to",
                  "body"
                ],
                "properties": {
                  "to": {
                    "type": "string",
                    "format": "email"
                  },
                  "subject": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 998,
                    "description": "Required for new threads. Optional when threadId is set — the thread subject is used automatically (with Re: prefix)."
                  },
                  "body": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100000,
                    "description": "Email body. Plain text or HTML — HTML is auto-detected and rendered, with a plain-text fallback generated automatically."
                  },
                  "bodyHtml": {
                    "type": "string",
                    "maxLength": 500000,
                    "description": "Advanced. Rarely needed. Provide only when the plain-text and HTML versions must differ. Omit for normal sends — put HTML in `body` instead."
                  },
                  "threadId": {
                    "type": "string",
                    "description": "Thread ID for replies"
                  },
                  "includeQuote": {
                    "type": "boolean",
                    "description": "When replying with threadId, append a quoted copy of the previous message to the body. Defaults to true. Set false to send only your reply text."
                  },
                  "replyTo": {
                    "type": "string",
                    "format": "email",
                    "description": "Optional. Address that replies should be routed to (set as the `Reply-To` MIME header). Free plan: must be the address of an inbox you own in OpenMail. Developer plan or higher: any valid email address."
                  },
                  "cc": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "email"
                    },
                    "description": "Optional CC recipients."
                  },
                  "attachments": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "description": "File attachments (max 25 MB total per email)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email sent (or idempotent replay)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messageId": {
                      "type": "string"
                    },
                    "threadId": {
                      "type": "string"
                    },
                    "providerMessageId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "sent",
                        "failed"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing Idempotency-Key, invalid 'to' address, or invalid 'replyTo' address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Feature requires a paid plan. Returned when a free-plan customer sets `replyTo` to an address that is not one of their own OpenMail inboxes. Body includes `feature: \"external_reply_to\"`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Inbox or thread not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Recipient suppressed (bounce/complaint)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (global daily, per-inbox daily, per-inbox burst) or cold outreach limit. Check the Retry-After response header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inboxes/{id}/messages": {
      "get": {
        "summary": "List messages",
        "description": "List all messages in an inbox, across every thread. Supports pagination for high-volume inboxes.",
        "operationId": "listMessages",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "direction",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "inbound",
                "outbound"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of messages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Message"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/inboxes/{id}/threads": {
      "get": {
        "summary": "List threads",
        "description": "List threads for an inbox. Use is_read to filter by read status — for example, ?is_read=false returns only unread threads.",
        "operationId": "listThreads",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "is_read",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter by read status. true = read threads only, false = unread threads only. Omit to return all."
          }
        ],
        "responses": {
          "200": {
            "description": "List of threads",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Thread"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/threads/{id}": {
      "patch": {
        "summary": "Update thread",
        "description": "Update a thread's read status. Use this to mark a thread as read after your agent has processed it, or as unread to re-queue it for later processing.",
        "operationId": "updateThread",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "is_read"
                ],
                "properties": {
                  "is_read": {
                    "type": "boolean",
                    "description": "Set to true to mark as read, false to mark as unread"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Thread updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Thread not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/threads/{id}/messages": {
      "get": {
        "summary": "Get thread messages",
        "description": "Retrieve a thread and all of its messages in order, with read status and full message content.",
        "operationId": "getThreadMessages",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thread with messages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "threadId": {
                      "type": "string"
                    },
                    "subject": {
                      "type": "string"
                    },
                    "isRead": {
                      "type": "boolean",
                      "description": "Whether the thread has been marked as read"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Message"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/attachments/{messageId}/{filename}": {
      "get": {
        "summary": "Get attachment",
        "description": "Returns a 302 redirect to a signed URL for the attachment.",
        "operationId": "getAttachment",
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filename",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to attachment URL"
          },
          "404": {
            "description": "Attachment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/attachments/{messageId}/{filename}/text": {
      "get": {
        "summary": "Extract attachment text",
        "description": "Extracts and returns the plain text content of an attachment. Supports PDF, DOCX, XLSX, PPTX, images (via OCR), and other common formats. The result is cached on the message after the first extraction.",
        "operationId": "getAttachmentText",
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filename",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Extracted text content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "filename": {
                      "type": "string"
                    },
                    "contentType": {
                      "type": "string"
                    },
                    "extractionMethod": {
                      "type": "string",
                      "description": "Method used to extract text (e.g. pdf, docx, ocr)"
                    },
                    "text": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Attachment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Text could not be extracted from the attachment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Pod": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "OpenMail pod ID"
          },
          "clientId": {
            "type": "string",
            "nullable": true,
            "description": "Your own identifier for the pod, if set."
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "Human-readable label, if set."
          },
          "isDefault": {
            "type": "boolean",
            "description": "Whether this is the account's default pod. Every account has exactly one; it is created automatically and cannot be deleted."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Inbox": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "OpenMail inbox ID"
          },
          "podId": {
            "type": "string",
            "description": "ID of the pod this inbox belongs to. Inboxes created without an explicit pod land in your account's default pod."
          },
          "address": {
            "type": "string",
            "format": "email",
            "description": "Full email address"
          },
          "displayName": {
            "type": "string",
            "description": "Sender display name",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Message": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "threadId": {
            "type": "string"
          },
          "direction": {
            "type": "string",
            "enum": [
              "inbound",
              "outbound"
            ]
          },
          "fromAddr": {
            "type": "string"
          },
          "toAddr": {
            "type": "string",
            "description": "Your OpenMail inbox address for inbound messages. For outbound sends, the primary recipient."
          },
          "headerTo": {
            "type": "string",
            "nullable": true,
            "description": "Inbound only. The address the sender wrote to (comma-separated if multiple). When deliveryRole is cc, reply to this address — not fromAddr."
          },
          "deliveryRole": {
            "type": "string",
            "enum": [
              "to",
              "cc"
            ],
            "nullable": true,
            "description": "Inbound only. to if your inbox was the main recipient; cc if you were copied on the email."
          },
          "cc": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Email addresses copied on the message."
          },
          "subject": {
            "type": "string"
          },
          "bodyText": {
            "type": "string"
          },
          "bodyHtml": {
            "type": "string"
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string"
                },
                "contentType": {
                  "type": "string"
                },
                "sizeBytes": {
                  "type": "integer"
                },
                "url": {
                  "type": "string",
                  "description": "Signed URL for download"
                }
              }
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "sent",
              "received",
              "failed"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Thread": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "isRead": {
            "type": "boolean",
            "description": "Whether the thread has been marked as read. Defaults to false for new inbound threads. Auto-set to true when a reply is sent."
          },
          "lastMessageAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "messageCount": {
            "type": "integer"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API key"
      }
    }
  }
}